# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement (SECRETS)
.env
.env.local
.env.*.local

# Build / dist
dist/
build/

# Fichiers de l'éditeur
.vscode/
.idea/
