html, body {
    height: 100%;
    margin: 0;
}

body{
    background-color: azure;
    text-align: center;
    color:rgb(92, 92, 92);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    flex: 1;
}

footer{
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.retirerTache{
    display: flex;
    /* border: solid; */
    /* width: auto;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 300px; */
    align-items: center;
    justify-content: center;
}

.retirerTache button{
    margin-left: 20px;
}