body{
    text-align: center;
    /* background-color: rgb(255, 251, 209); */
    background-color: rgb(232, 180, 171);
    display: flex;
    justify-content: center;
}

main{
    background-color: rgb(255, 255, 255);
    width: 490px;
    max-width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px black;
    margin-top: 30px;
}

h1{
    color:rgb(162, 62, 62);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

p{
    color:rgb(115, 145, 255);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

button{
    transition: 0.2s;
    border: solid 0px;
    padding: 10px;
    width: 200px;
    border-radius: 14px;
    background-color: rgb(144, 144, 255);
    color:aliceblue;
    box-shadow: 0px 3px black;
}

button:hover{
    transition: 0.2s;
    transform: translateY(1px);
    box-shadow: 0px 2px black;
}

button:active{
    transition: 0.2s;
    transform: translateY(3px);
    box-shadow: 0px 0px black;
}

input:focus {
    background-color: rgb(248, 255, 246);
}